{% extends "partials_layout.html" %}
{% set title = "إعدادات المركز" %}
{% set subtitle = "تخصيص اسم المركز ومواعيد العمل وعطلة نهاية الأسبوع وقواعد التأخير" %}
{% block page_content %}
<div id="settingsAlert"></div>
<div class="card panel-card p-4">
    <form id="settingsForm">
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label">اسم المركز</label>
                <input id="company_name" class="form-control" required>
            </div>
            <div class="col-md-3">
                <label class="form-label">وقت بداية العمل</label>
                <input id="work_start_time" type="time" class="form-control" required>
            </div>
            <div class="col-md-3">
                <label class="form-label">وقت نهاية العمل</label>
                <input id="work_end_time" type="time" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label class="form-label d-block">أيام العطلة الأسبوعية</label>
                <div class="d-flex flex-wrap gap-3">
                    <div class="form-check"><input class="form-check-input" type="checkbox" name="weekend_days" value="Friday" id="weekendFriday"><label class="form-check-label" for="weekendFriday">الجمعة</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" name="weekend_days" value="Saturday" id="weekendSaturday"><label class="form-check-label" for="weekendSaturday">السبت</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" name="weekend_days" value="Sunday" id="weekendSunday"><label class="form-check-label" for="weekendSunday">الأحد</label></div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label">دقائق السماح للتأخير</label>
                <input id="late_grace_minutes" type="number" class="form-control" min="0" max="240" required>
            </div>
            <div class="col-12"><hr class="my-1"></div>
            <div class="col-12">
                <h5 class="fw-bold mb-1">إعدادات النسخ الاحتياطية التلقائية</h5>
            </div>
            <div class="col-md-6">
                <div class="form-check mt-2">
                    <input id="auto_backup_enabled" class="form-check-input" type="checkbox">
                    <label class="form-check-label" for="auto_backup_enabled">تفعيل النسخ الاحتياطية التلقائية</label>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-label">وقت النسخ الاحتياطية (يومياً)</label>
                <input id="auto_backup_time" type="time" class="form-control" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">احتفاظ بالنسخ الاحتياطية لعدد أيام</label>
                <input id="auto_backup_retention_days" type="number" class="form-control" min="1" max="365" required>
            </div>

        </div>
        <button class="btn btn-primary mt-4">حفظ الإعدادات</button>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/settings.js"></script>
{% endblock %}
